@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary-400: hsl(223, 87%, 63%);
  --color-secondary-200: hsl(223, 100%, 88%);
  --color-secondary-300: hsl(354, 100%, 66%);
  --color-neutral-400: hsl(0, 0%, 59%);
  --color-neutral-800: hsl(209, 33%, 12%);

  --font-family: "Libre Franklin", sans-serif;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --fs-xl-fluid-22-48: clamp(1.375rem, -0.0588rem + 6.1176vi, 3rem);
  --fs-lg-fluid-12-20: clamp(0.75rem, 0.3088rem + 1.8824vi, 1.25rem);
  --fs-md-fluid-12-16: clamp(0.75rem, 0.5294rem + 0.9412vi, 1rem);
  --fs-sm-fluid-10-12: clamp(0.625rem, 0.5147rem + 0.4706vi, 0.75rem);

  --logo-fluid-56-90: clamp(56px, 26px + 8vi, 90px);
  --hero-fluid-320-640: clamp(320px, 37.6471px + 75.2941vi, 640px);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  display: block;
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Typography */

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  color: var(--color-neutral-800);
}

strong {
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-800);
}
.logo {
  width: var(--logo-fluid-56-90);
}
.title {
  font-weight: var(--font-weight-light);
  font-size: var(--fs-xl-fluid-22-48);
  color: var(--color-neutral-400);
  line-height: 1.2;
}

.description {
  font-size: var(--fs-lg-fluid-12-20);
  line-height: 1.5;
}

.subscribe-form small {
  font-style: italic;
  font-size: var(--fs-sm-fluid-10-12);
  color: var(--color-secondary-300);
}

.subscribe-form {
  font-size: var(--fs-md-fluid-12-16);
}

.subscribe-form input {
  width: 100%;
}

.hero-img {
  width: var(--hero-fluid-320-640);
}

.footer__copyright {
  font-size: var(--fs-sm-fluid-10-12);
  color: var(--color-neutral-400);
}

/* Laytout */
header,
main,
footer {
  display: grid;
  justify-items: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;
  border: 1px solid var(--color-neutral-400);
}

.footer__socials {
  display: flex;
  gap: 1rem;
}
