@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary-400: hsl(223, 87%, 63%);
  --color-secondary-200: hsl(223, 100%, 88%);
  --color-secondary-300: hsl(354, 100%, 66%);
  --color-neutral-400: hsl(0, 0%, 59%);
  --color-neutral-800: hsl(209, 33%, 12%);

  --font-family: "Libre Franklin", sans-serif;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --fs-xl-fluid-22-48: clamp(1.375rem, -0.0588rem + 6.1176vi, 3rem);
  --fs-lg-fluid-12-20: clamp(0.75rem, 0.3088rem + 1.8824vi, 1.25rem);
  --fs-md-fluid-12-16: clamp(0.75rem, 0.5294rem + 0.9412vi, 1rem);
  --fs-sm-fluid-10-12: clamp(0.625rem, 0.5147rem + 0.4706vi, 0.75rem);

  --logo-fluid-56-90: clamp(56px, 26px + 8vi, 90px);
  --hero-fluid-320-640: clamp(320px, 37.6471px + 75.2941vi, 640px);

  --spacing-fluid-32-40: clamp(2rem, 1.5588rem + 1.8824vi, 2.5rem);
  --spacing-fluid-72-94: clamp(4.5rem, 3.2868rem + 5.1765vi, 5.875rem);
  --spacing-fluid-120-72: clamp(4.5rem, 10.1471rem + -11.2941vi, 7.5rem);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  display: block;
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Typography */

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  color: var(--color-neutral-800);
}

strong {
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-800);
}

.logo {
  margin-top: 5rem;
  width: var(--logo-fluid-56-90);
}
.title {
  margin-top: var(--spacing-fluid-32-40);
  font-weight: var(--font-weight-light);
  font-size: var(--fs-xl-fluid-22-48);
  color: var(--color-neutral-400);
  line-height: 1.2;
}

.description {
  margin-top: 1rem;
  font-size: var(--fs-lg-fluid-12-20);
  line-height: 1.5;
}

.subscribe-form {
  --element-height: 2.5rem;
  margin-top: var(--spacing-fluid-32-40);
  font-size: var(--fs-md-fluid-12-16);
}

.subscribe-form small {
  font-style: italic;
  padding-left: 2rem;
  font-size: var(--fs-sm-fluid-10-12);
  color: var(--color-secondary-300);
}

.subscribe-form button,
.subscribe-form input {
  height: var(--element-height);
  border-radius: 1.75rem;
}

.subscribe-form input {
  border: 1px solid var(--color-secondary-200);
  padding: 0 2rem;
  width: 100%;
}

.subscribe-form input::placeholder {
  color: var(--color-secondary-200);
}

.subscribe-form input:focus {
  outline: none;
}

.subscribe-form button {
  width: 100%;
  font-weight: var(--font-weight-semibold);
  color: white;
  background-color: var(--color-primary-400);
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.subscribe-form button:hover {
  opacity: 0.8;
}

.subscribe-form__field.error input {
  border-color: var(--color-secondary-300);
}

.hero-img {
  margin-top: var(--spacing-fluid-72-94);
  margin-bottom: var(--spacing-fluid-120-72);
  width: var(--hero-fluid-320-640);
}

.footer__copyright {
  font-size: var(--fs-sm-fluid-10-12);
  color: var(--color-neutral-400);
}

.footer__socials {
  color: var(--color-primary-400);
  display: flex;
  gap: 1rem;
}

.footer__socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--color-primary-400);
  border-radius: 50%;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer__socials a:hover {
  background-color: var(--color-primary-400);
  color: white;
}
/* Laytout */
header,
main,
footer {
  display: grid;
  justify-items: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 75%;
}

.footer__copyright {
  margin: 1.5625rem 0;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  .subscribe-form {
    --element-height: 3.5rem;
    flex-direction: row;
    max-width: 567px;
  }
  .subscribe-form__field {
    width: 70%;
  }

  .subscribe-form button {
    width: 30%;
  }
}
